* {
  border: 1px solid black;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a9a9a9;
}

.btn_difficulte {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}

#difficulte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.75em;
  width: 490px;
}

#grille-jeu {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  height: 500px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #d3d3d3;
  height: 100%;
}
